:root {
    --video-width: 600px;
    --video-height: 480px;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
}

#test {
    height: 100%;
    width: 100%;
}

#content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#stream {
    position: relative;
    flex: 1;
}

img {
    width: var(--video-width);
    height: var(--video-height);
}

#controls {
    display: flex;
    flex-direction: column;
}

.arrows{
    position: relative;
    align-self: center;
    width: 48px;
    height: 48px;
}

#up {
    bottom: calc(var(--video-height));
}

#down {
    bottom: 154px;
}

#left-right {
    position: relative;
    bottom: calc(calc(var(--video-height)/2) + calc(48px + 26px));
}

#left {
    right: calc(calc(var(--video-width)/2) - 48px);
}

#right {
    left: calc(calc(var(--video-width)/2) - 48px);
}

#fire {
    position: absolute;
    background-color: #c22e2e;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 80px;
    font-weight: bold;
    font-size: 20px;
}

.arrows:hover {
    transform: scale(1.2);
}

#fire:hover {
    transform: translateX(-50%) scale(1.2);
    cursor: pointer;
}



.onoffswitch {
    position: relative; width: 90px;
    user-select: none; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    bottom: 130px;
    left: 50px;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Auto";
    padding-right: 15px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Man";
    padding-right: 20px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}